<h1>¡Bienvenidos al Sitio de Registro Ciudadano de Springfield!</h1>

<mat-card class="mat-card">
  <mat-card-content>
    <p>En Springfield, valoramos a cada uno de nuestros ciudadanos, desde el dueño de la Planta Nuclear, Sr. Burns,
      hasta el querido Homero Simpson.</p>
    <p>Nuestro objetivo es hacer que tu experiencia sea lo más sencilla y agradable
      posible.</p>

    <h2>¿Qué puedes hacer aquí?</h2>

    <ul>
      <li><strong>Registro de Ciudadanía:</strong> Regístrate fácilmente y accede a todos los beneficios de ser un ciudadano de Springfield.</li>
      <li><strong>Actualización de Información:</strong> Mantén tu información actualizada para asegurarte de no perderte ninguna noticia importante de nuestra comunidad.</li>
      <li><strong>Registro de Fallecimientos:</strong> Informa y registra de manera respetuosa y oficial los fallecimientos ocurridos en la comunidad.</li>
    </ul>

    <p><strong>Gracias por ser parte de nuestra comunidad.</strong> Juntos, hacemos de Springfield un lugar especial para vivir.</p>
    <p>¡Regístrate hoy y empieza a disfrutar de todo lo que Springfield tiene para ofrecer!</p>
  </mat-card-content>
</mat-card>
