

<nav>
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-12 col-sm-3">
          <a class="navbar-brand" href="#">LOGO AQUI XD</a>
        </div>
        <div class="col-12 col-sm-2">
          <button class="nav-link" (click)="Inicio()">inicio </button>
        </div>
        <div class="col-12 col-sm-2">
        <button class="nav-link" (click)="Registro()">Registros</button>
        </div>

        <div class="col-12 col-sm 4">
          <p>AQUI VA EL BUSCADOR</p>
        </div>
      </div>
    </div>


  </nav>

