
  <nav class="navbar navbar-expand-lg navbar-light" >
    <div class="row justify-content-between">
      <div class="col-12 col-sm-4">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" routerLink="/inicio" style="margin-left: 10px">Springfield</a>
    </div>
    </div>

    <div class="col-12 col-sm-4">
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" (click)="Inicio()">Inicio <span class="sr-only"></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="Registro()" >Registros</a>
          </li>
        </ul>
        <div class="col-12 col-sm-4 buscador">
          <div class="row justify-content-start">
          <form class="buscador">
            <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
          </form>
        </div>
      </div>
      <button  mat-raised-button class=" boton-buscador" type="submit" color="accent" style="margin-left: 10px">Buscar</button>
      </div>
    </div>

    </nav>
    
    
