<h2 mat-dialog-title>Editar Persona</h2>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="nombre" placeholder="Nombre" required>
        <mat-error *ngIf="form.controls['nombre'].invalid">Por favor ingresa un nombre válido</mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Apellido</mat-label>
        <input matInput formControlName="apellido" placeholder="Apellido" required>
        <mat-error *ngIf="form.controls['apellido'].invalid">Por favor ingresa un apellido válido</mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Identificación</mat-label>
        <input matInput formControlName="identificacion" placeholder="Identificación" required>
        <mat-error *ngIf="form.controls['identificacion'].invalid">Por favor ingresa una identificación válida</mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Género</mat-label>
        <mat-select formControlName="genero" required>
          <mat-option value="Masculino">Masculino</mat-option>
          <mat-option value="Femenino">Femenino</mat-option>
          <mat-option value="Otro">Otro</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-group">
    <mat-form-field appearance="fill">
      <mat-label>Fecha de nacimiento</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="fechaNacimiento" placeholder="Fecha de nacimiento" required [ngModel]="form.controls['fechaNacimiento'].value | date:'yyyy-MM-dd'" (ngModelChange)="form.controls['fechaNacimiento'].setValue($event)">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="form.controls['fechaNacimiento'].invalid">Por favor ingresa una fecha válida</mat-error>
    </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Dirección</mat-label>
        <input matInput formControlName="direccion" placeholder="Dirección" required>
        <mat-error *ngIf="form.controls['direccion'].invalid">Por favor ingresa una dirección válida</mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Empleo</mat-label>
        <input matInput formControlName="empleo" placeholder="Empleo" required>
        <mat-error *ngIf="form.controls['empleo'].invalid">Por favor ingresa un empleo válido</mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Fallecido</mat-label>
        <mat-select formControlName="fallecido" required>
          <mat-option value="Sí">Sí</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
        <mat-error *ngIf="form.controls['fallecido'].invalid">Por favor selecciona una opción válida</mat-error>
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button (click)="onClosed()">Cancelar</button>
    <!-- <button mat-raised-button color="primary" [disabled]="form.invalid">Guardar</button> -->
     <button mat-button (click)="onSubmit()">Guardar</button>
  </mat-dialog-actions>
</form>



